
<h1 class="text-center">App financiera</h1>




<li>
    
    <button class="btn btn-primary"routerLink="/finan/listado">
        Ir a listado
    </button>
    </li>

    <br>
    <br>
    <hr>

    <li>
        <button class="btn btn-warning"routerLink="/finan/agregar">
            Ir a agregar
        </button>
        </li>

        <br>
        <br>
        <hr>
    
        <li>
            <button class="btn btn-danger"routerLink="/finan/cliente">
                Ir a cliente
            </button>

            
        <br>
        <br>
        <hr>

            </li>

            <li>
                <button class="btn btn-success"routerLink="/finan/tarjeta">
                    Movimientos
                </button>
                </li>
    


 
<app-financiera></app-financiera>

<router-outlet></router-outlet>
 