
<h1 class="text-center">primer borrador app financiera</h1>

<li>
<a routerLink="/auth/login">
    Ir a login.
</a>
</li>
<li>
<a routerLink="/auth/registro">
    Ir a registro
</a>
</li>

<li>
    <a routerLink="/finan/listado">
        Ir a listado
    </a>
    </li>

    <li>
        <a routerLink="/finan/pages/agregar">
            Ir a agregar
        </a>
        </li>
        <li>
            <a routerLink="/finan/pages/cliente">
                Ir a cliente
            </a>
            </li>

 
<app-financiera></app-financiera>
<app-ctas></app-ctas>

 