
<h1>primer borrador app financiera</h1>

<dl >
    <td>Nombre:</td>
    <dd>{{Nombre}}</dd>

    <td>edad:</td>
    <dd>{{edad}}</dd>

    <td>Apellidos:</td>
    <dd>{{Apellidos}}</dd>

    <td>tipoDeIdentificacion:</td>
    <dd>{{tipoDeIdentificacion}}</dd>

    <td>correoDeIdentificacion:</td>
    <dd>{{correoDeIdentificacion}}</dd>

    <td>fecha:</td>
    <dd>{{fecha}}</dd>

    <td>saldoDeCuenta:</td>
    <dd>{{saldoDeCuenta}}</dd>

    
    <td> SaldoFinal:</td>
    <dd>{{IncrementarSaldo}}</dd>
    
</dl>


<button>
    CREAR USUARIO
</button>

<button>
    MODIFICAR USUARIO
</button>

<button>
    ELIMINAR USUARIO
</button>