<h1>listado parcial   de clientes</h1>
<mat-divider></mat-divider>
<br>

<div fxLayout="row wrap">

<mat-card *ngFor="let financiera of financieras">
    <mat-card-header>
        <mat-card-title> {{ financiera .nombre}} </mat-card-title>
        <mat-card-subtitle>{{ financiera .apellido}} </mat-card-subtitle>

        
    </mat-card-header>

    <mat-card-content>

        <p>
            <small>Tpo de identificacion </small> {{ financiera .tipoID}}
        </p>

        <br>    
        <br>
        <h2>
            <small>Numero de identificacion </small> {{ financiera .id}}
        </h2>

        <h3> {{ financiera .correo}}</h3>

        <p>
            <strong>Tipo de Cuenta </strong> {{ financiera .tipoCuenta }}
            
        </p>

        <p>
            <small>Saldo de cuenta </small> {{ financiera .saldoCuenta}}
        </p>

        <p>
            <small>Fecha de naciemiento </small> {{ financiera .fecha_Nacimiento}}
        </p>

        <p>
            <small>Saldo de cuenta </small> {{ financiera .fecha_Creacion}}
        </p>
    </mat-card-content>

    <mat-card-actions >
        <button mat-button color="warn"
        [routerLink]="[ ]">
            RETIRO
        </button>
    </mat-card-actions>

    <mat-card-actions>
        <button mat-button color="primary"
        [routerLink]="[ ]">
            CONSIGNACION
        </button>
    </mat-card-actions>
</mat-card>

</div>